# A pure Swift library for creating command-line interfaces
github "jatoben/CommandLine" "be13f512744a187feed05a900abda8cc7e3283cc"

# A simple Swift API for Microsoft Translator
github "Dschee/Polyglot" "c4d71d03879b907886f2b857f46a3e024bd847a9"

# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift" ~> 1.0